<% content_for :title, "Editing product" %>

<div>
  <%= link_to "<- Balik ke Daftar Produk", products_path %>
</div>


<h3>Ubah Produk</h3>

<%= render partial: "form", locals: { product: @product, submit_label: "Ubah Produk"} %>


